<li>
    <a class="
        tw-flex 
        tw-items-center 
        tw-p-2 
        tw-text-gray-900 
        tw-rounded-lg 
        dark:tw-text-white 
        hover:tw-bg-gray-100 
        dark:hover:tw-bg-gray-700 
        group
        hover: tw-cursor-pointer" 
        (click)="handleClick()"
    >
        <mat-icon class="tw-w-5 tw-h-5 tw-text-gray-500 tw-transition tw-duration-75 dark:tw-text-gray-400 group-hover:tw-text-gray-900 dark:group-hover:tw-text-white">{{ icon }}</mat-icon>
       <span class="tw-ms-3">{{ text }}</span>
    </a>
</li>