<div
  class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-text-center tw-h-full tw-w-full"
>
  <h1 class="tw-mb-4 tw-text-6xl tw-font-semibold tw-text-gray-900">404</h1>
  <p class="tw-mb-4 tw-text-lg tw-text-gray-700">
    Oops! Looks like something went wrong.
  </p>
  <div class="tw-animate-bounce tw-m-5">
    <mat-icon class="tw-mx-auto tw-scale-[2.5] tw-text-gray-900"
      >error</mat-icon
    >
  </div>
  <p class="tw-mt-4 tw-text-gray-700">
    Let's get you back <a href="/" class="tw-text-gray-950">home</a>.
  </p>
</div>
