
<div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-text-center tw-flex-1">
    <h1 class="tw-mb-4 tw-text-6xl tw-font-semibold tw-text-purple-800">404</h1>
    <p class="tw-mb-4 tw-text-lg tw-text-gray-600">Oops! Looks like you're lost.</p>
    <div class="tw-animate-bounce">
        <svg class="tw-mx-auto tw-h-16 tw-w-16 tw-text-purple-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
        </svg>
    </div>
    <p class="tw-mt-4 tw-text-gray-600">Let's get you back <a href="/" class="tw-text-purple-950">home</a>.</p>
</div>
