@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #9293a3;
  margin: 0;
}

.ngx-pagination a {
  color: black !important;
}

.ngx-pagination .current {
  background-color: #b3b7ee !important;
  color: black !important;
}

.ngx-pagination {
  margin-left: 0;
  margin-bottom: 1rem;
  padding-left: 0;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #1f2937;
}
