<div class="tw-flex tw-flex-col">
  <div *ngIf="jobCollection.length > 0" class="parent-container">
    <app-data-table></app-data-table>
    <div style="margin: 20px"></div>
    <app-rankings></app-rankings>
  </div>

  <!-- <div class="no-postings-card" *ngIf="!contentLoaded && isAuthenticated">
    <mat-spinner></mat-spinner>
  </div> -->

  <button
    mat-fab
    color="primary"
    aria-label="Click to add a new job posting"
    (click)="this.openModal()"
    class="fab-bottom-right large-button"
    data-cy="add-job-btn"
    [disabled]="!contentLoaded"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
