<div
  class="tw-flex tw-flex-col tw-justify-center tw-gap-10 tw-items-center tw-h-screen tw-w-full"
>
  <mat-icon class="tw-scale-x-[1.75] tw-scale-y-[1.75] tw-text-gray-900"
    >home</mat-icon
  >
  <div class="tw-flex tw-flex-col tw-gap-4 tw-text-center tw-font-sans">
    <p class="tw-text-4xl tw-font-semibold tw-text-gray-900">
      Welcome to Applicruiter
    </p>
    <p class="tw-text-lg tw-font-light tw-text-gray-700">
      What are you searching for?
    </p>
  </div>
  <div class="tw-flex tw-flex-row tw-gap-4">
    <button mat-button [ngClass]="buttonStyle" (click)="(this.employersClick)">
      <p class="tw-my-2 tw-px-4 tw-font-semibold">Employee</p>
    </button>
    <button mat-button [ngClass]="buttonStyle" (click)="this.employeesClick()">
      <p class="tw-my-2 tw-px-4 tw-font-semibold">Employer</p>
    </button>
  </div>
</div>
