<mat-card class="card-container">
    <mat-card-content>
        <div class="header">
            <mat-card-title>{{ data.title }}</mat-card-title>
            <mat-card-subtitle>{{ data.level }}</mat-card-subtitle>
        </div>
        <div class="content">
            <p><strong>Country:</strong> {{ data.country }}</p>
            <p><strong>City:</strong> {{ data.city }}</p>
            <p><strong>Description:</strong></p>
            <p>{{ data.description }}</p>
            <p><strong>Skills:</strong></p>
            <mat-chip-list>
                <mat-chip *ngFor="let skill of skills">{{ skill }}</mat-chip>
            </mat-chip-list>
        </div>
        <div class="pdf-upload" style="margin-top: 20px; display: flex; flex-direction: column; align-items: center; text-align: center;">
            <form [formGroup]="fileForm">
                <input type="file" (change)="onFileSelect($event)" id="myFile" name="filename" formArrayName="files" accept=".pdf" style="display: none;" #fileInput multiple>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100%;">
                    <button mat-raised-button color="primary" (click)="fileInput.click()">Choose Files ({{ selectedFilesCount }})</button>
                    <div style="width: 10px;"></div>
                    <button mat-raised-button color="primary" (click)="clear()" style="max-width: 150px;">Clear</button>
                    <div style="width: 10px;"></div>
                    <button mat-raised-button color="primary" (click)="onSubmit()" style="max-width: 150px;">Upload</button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>
