body {
    margin: 0;
}    

.mat-typography {
    margin: 0;
}

.mat-toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}