<div>
    <div *ngIf="jobCollection.length > 0" class="parent-container">
        <app-data-table></app-data-table>
        <div style="margin: 20px"></div>
        <app-rankings></app-rankings>
    </div>

    <!-- Display a card when no job postings are available -->
    <div *ngIf="jobCollection.length === 0" class="no-postings-card">
        <mat-card class="empty-container">
            <mat-card-content>
                <h1>No Job Postings Available</h1>
                <h2>Add a new job with the button on the right</h2>
            </mat-card-content>
        </mat-card>
    </div>

    <button mat-fab color="primary" aria-label="Click to add a new job posting" (click)="this.openModal()" class="fab-bottom-right large-button">
        <mat-icon>add</mat-icon>
    </button>
</div>
