:host /deep/ .mat-form-field-underline {
    display: none;
}

:host /deep/ .mat-form-field-wrapper {
    padding-bottom: 0;
}

.ranking-table {
    background-color: #7b7db8;
}

.job-header {
    background-color: #FFFFFF;
    padding: 15px;
}