<mat-card style="height: 500px; margin-bottom: 50px;">
    <mat-card-title style="margin-bottom: 25px;">Candidate Rankings</mat-card-title>
    <mat-card >
        <mat-card-content>
            <div class="tw-flex tw-items-center tw-justify-between">
                <mat-form-field appearance="fill" [ngClass]="'custom-no-underline'" class="tw-items-center tw-self-center tw-align-middle" [formGroup]="selectGroup">
                    <mat-label class="tw-justify-end tw-self-end">Select Job Requisition</mat-label>
                    <mat-select formControlName="job">
                        <mat-option>
                            None
                        </mat-option>
                        <mat-option *ngFor="let job of jobCollection" [value]="job.job_id">
                            {{job.job_id}} - {{job.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" class="tw-max-w-xs tw-h-10" (click)="setResumeRankings()">Rank Resumes</button>
            </div>
        </mat-card-content>
    </mat-card>
    <app-ranking-table></app-ranking-table>
</mat-card>