<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" style="width: 100%;">
        <p *matCellDef="let element"> {{element | json}} </p>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="pdf_data">
            <th mat-header-cell *matHeaderCellDef> PDF Data </th>
            <td mat-cell *matCellDef="let element"> <a [href]="element.pdf_data" target="_blank">test</a> </td>
        </ng-container>

        <ng-container matColumnDef="similarity_score">
            <th mat-header-cell *matHeaderCellDef> Similarity Rating </th>
            <td mat-cell *matCellDef="let element"> {{element.similarity_score}} </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr 
        mat-row 
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                    length="collection.length">
    </mat-paginator>
</div>