<!-- Organizations View -->

<div
  *ngIf="this.organizationCollection.length > 0"
  style="border: 25px solid; border-color: #a2a3bb"
  class="tw-flex tw-flex-col tw-bg-gray-800 tw-h-full tw-w-full"
>
  <div
    class="tw-w-full tw-flex tw-justify-between tw-align-middle tw-p-2 tw-px-4 tw-py-4 tw-bg-gray-600"
  >
    <button
      mat-raised-button
      class="tw-m-4 tw-bg-white tw-font-sans tw-text-base hover:tw-bg-slate-300"
      (click)="addOrganizationClicked()"
    >
      Create New Organization
    </button>
    <!-- This is a temp search until we make the component -->
    <input
      type="text"
      [disabled]="this.organizationCollection.length === 0"
      placeholder="Search for an organization"
      class="tw-w-2/5 tw-p-2 tw-text-black tw-rounded-md tw-border-0 tw-font-sans tw-text-base tw-placeholder-gray-500"
    />
  </div>
  <div class="tw-flex tw-flex-col tw-flex-1 tw-justify-between tw-h-max">
    <div class="tw-flex tw-justify-center tw-bg-gray-800">
      <table
        *ngIf="this.organizationCollection.length > 0"
        mat-table
        [dataSource]="this.dataSource"
        class="tw-w-full tw-text-sm tw-text-left tw-text-gray-400 tw-bg-gray-800"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef [ngClass]="styles.headCell">
            Organization Name
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="styles.name">
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef [ngClass]="styles.headCell">
            Owner
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="styles.cell">
            {{ element.owner }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalMembers">
          <th mat-header-cell *matHeaderCellDef [ngClass]="styles.headCell">
            Total Members
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="styles.cell">
            {{ element.totalMembers }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalListings">
          <th mat-header-cell *matHeaderCellDef [ngClass]="styles.headCell">
            Total Listings
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="styles.cell">
            {{ element.totalListings }}
          </td>
        </ng-container>

        <ng-container matColumnDef="dateCreated">
          <th mat-header-cell *matHeaderCellDef [ngClass]="styles.headCell">
            Date Created
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="styles.cell">
            {{ element.dateCreated }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          class="tw-text-sm tw-uppercase tw-bg-gray-700"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="hover:tw-bg-gray-900 hover:tw-cursor-pointer"
        ></tr>
      </table>
    </div>
    <div class="tw-w-full tw-flex tw-justify-center tw-bg-gray-700">
      <mat-paginator
        showFirstLastButtons
        [pageSize]="pageSize"
        [length]="this.organizationCollection.length"
        class="tw-text-xs tw-uppercase tw-bg-gray-700 tw-text-white"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<!-- No Organizations View -->

<div
  *ngIf="this.organizationCollection.length == 0"
  class="tw-flex tw-flex-col tw-justify-center tw-gap-10 tw-items-center tw-h-full tw-w-full"
>
  <mat-icon class="tw-scale-x-[1.75] tw-scale-y-[1.75] tw-text-gray-900"
    >work_off</mat-icon
  >
  <div class="tw-flex tw-flex-col tw-gap-4 tw-text-center tw-font-sans">
    <p class="tw-text-4xl tw-font-semibold tw-text-gray-900">
      No Organizations Found
    </p>
    <p class="tw-text-lg tw-font-light tw-text-gray-700">
      There are no records to display, please create a new organization.
    </p>
  </div>
  <button
    mat-button
    class="tw-m-4 tw-bg-gray-800 tw-text-white tw-font-sans tw-text-base hover:tw-bg-gray-700 tw-shadow-gray-950 tw-shadow-2xl"
    (click)="addOrganizationClicked()"
  >
    <p class="tw-my-2 tw-font-semibold">Create New Organization</p>
  </button>
</div>
